In [1]:
import pandas as pd

In [2]:
!cat /workspace/datasets/fasttext/labeled_products.txt | wc -l

115503

In [3]:
df = pd.DataFrame(columns=['label', 'product'])

In [4]:
rows = []

In [5]:
with open('/workspace/datasets/fasttext/labeled_products.txt') as f:
    for line in f:
        label, product = line.split(' ', 1)
        rows.append({'label': label, 'product': product})
        if len(rows) >= 1000:
            df = pd.concat([df, pd.DataFrame.from_records(rows)])
            del(rows)
            rows = []
df = pd.concat([df, pd.DataFrame.from_records(rows)])

In [6]:
len(df)

115503

In [7]:
df.head()

,label,product
0,__label__abcat0107029,"Recoton - 1/8"" Mini Stereo 3.5mm Y Adapter\n"
1,__label__abcat0202007,Panasonic - Technics Quartz Synthesizer Direct...
2,__label__abcat0908001,Holmes - Replacement Filter for Select Holmes ...
3,__label__abcat0107031,Monster Cable - 10' Pair of 10-Gauge Speaker W...
4,__label__pcmcat223000050008,"Pioneer - 4"" 3-Way Surface-Mount Speakers with..."

In [8]:
df_gblc = df.groupby('label', as_index=False).count()

In [9]:
df_gblc.head()

                   label  product
0  __label__abcat0011000       12
1  __label__abcat0011001        8
2  __label__abcat0011002        2
3  __label__abcat0011003        8
4  __label__abcat0011004        1

In [10]:
df_gblcs = df_gblc.sort_values(['product'], ascending=False)

In [11]:
df_gblcs.head()

                            label  product
21          __label__abcat0101001     2100
1065  __label__pcmcat180400050006     1810
212         __label__abcat0401004     1574
1717  __label__pcmcat247400050000     1491
667             __label__cat09000     1441

In [12]:
df_500 = df_gblcs[df_gblcs['product'] >= 500]

In [13]:
df_pruned = df[df['label'].isin(df_500['label'])]

In [14]:
len(df_pruned)

28921

In [15]:
with open('/workspace/datasets/fasttext/pruned_labeled_products.txt', 'w') as f:
    for row in df_pruned.iterrows():
        f.write("{} {}\n".format(row[1]['label'], row[1]['product']))

In [16]:
!head /workspace/datasets/fasttext/pruned_labeled_products.txt

__label__pcmcat165900050033 Metra - Radio Installation Dash Kit for Most 1989-2000 Ford, Lincoln & Mercury Vehicles - Black

__label__pcmcat165900050033 Metra - Radio Dash Multikit for Select GM Vehicles - Black

__label__pcmcat165900050033 Best Buy - Mazda Multi In-Dash Installation Kit

__label__abcat0101001 Dynex™ - 32" Class / 720p / 60Hz / LCD HDTV

__label__abcat0101001 Insignia™ - 32" Class / 720p / 60Hz / LCD HDTV